.calculator {
  height: 300px;
  width: 250px;
  margin: 100px;
  position: relative;
  background-color: rgb(83, 97, 122);
}

.screen {
  width: 200px;
}

.screen > textarea {
  resize: none;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.controls {
  position: absolute;
  display: inline-block;
  width: auto;
}

.controls > button {
  margin: 5px 0 0 20px;
  width: 35px;
  height: 35px;
}

.operators {
  position: relative;
  display: grid;
  float: right;
}

.operators > button {
  margin: 5px 5px 0 0;
  width: 35px;
  height: 35px;
}

.numbers{
  display: table;
  width: auto;
  margin: 50px 10px;
  padding: 0;
}

.numbers > button {
  margin: 5px 0 0 20px;
  width: 35px;
  height: 35px;
}
